@model ScheduleManager.Data.Entities.MasterSchedule;

@{
    ViewData["Title"] = "Add Schedule";
}

<div class="container">
    <h4>Add Schedule</h4>
    <hr />

    <form asp-action="AddSchedule" id="app">
        <input asp-for="EmployeeId" type="hidden" />

        <!-- Title -->
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" v-model="title" required />
        </div>

        <!-- Start Date -->
        <div class="form-group">
            <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate" class="form-control" step="any" v-model="startDate" required />
        </div>

        <!-- Duration -->
        <div class="form-group">
            <label asp-for="DurationHours">Duration</label>

            <div class="input-group mb-3" v-if="!isAllDay">
                <div class="input-group-prepend">
                    <span class="input-group-text">For</span>
                </div>
                <input asp-for="DurationHours" type="number" class="form-control" v-model="durationHours" min="1" max="24" step=".5" />
                <div class="input-group-append">
                    <span class="input-group-text">hour{{ durationHours > 1 ? 's' : ''}}</span>
                </div>
            </div>

            <div class="form-check">
                <input asp-for="IsAllDay" class="form-check-input" v-model="isAllDay" />
                <label asp-for="IsAllDay" class="form-check-label">All day event</label>
            </div>
        </div>

        <!-- Frequency -->
        <div class="form-group">
            <!-- We are only supporting Yearly, Monthly, Weekly and Daily frequencies -->
            <label asp-for="Frequency">Frequency</label>
            <select asp-for="Frequency" asp-items="Html.GetEnumSelectList<EWSoftware.PDI.RecurFrequency>()" class="form-control mb-3" v-model="frequency"></select>

            <div class="input-group mb-3" v-if="!isOnWeekdays || frequency != 4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Repeats every</span>
                </div>
                <input asp-for="Interval" type="number" class="form-control" v-model="interval" min="1" />
                <div class="input-group-append">
                    <span class="input-group-text">{{ frequencies[frequency - 1] }}{{ interval > 1 ? 's' : ''}}</span>
                </div>
            </div>

            <!-- Frequency: Weekly -->
            <div class="weekly-options" v-if="frequency == 3">
                @* TODO: Convert to Select2 *@
                <label asp-for="DaysOfWeek">On</label>
                <select asp-for="Days" asp-items="Html.GetEnumSelectList<DayOfWeek>()" class="form-control mb-3" multiple></select>
            </div>

            <!-- Frequency: Daily -->
            <div class="form-check" v-if="frequency == 4">
                <input asp-for="IsOnWeekdays" class="form-check-input" v-model="isOnWeekdays" />
                <label asp-for="IsOnWeekdays" class="form-check-label">On weekdays</label>
            </div>
        </div>

        <!-- End Date -->
        <div class="form-group">
            <label asp-for="EndDate">End Date</label>

            <div class="form-check mb-3">
                <input asp-for="RepeatsIndefinitely" class="form-check-input" v-model="repeatsIndefinitely" />
                <label asp-for="RepeatsIndefinitely" class="form-check-label">Repeats indefinitely</label>
            </div>

            <div class="input-group" v-if="!repeatsIndefinitely">
                <div class="input-group-prepend">
                    <span class="input-group-text">Repeat until</span>
                </div>
                <input asp-for="EndDate" class="form-control" step="any" v-model="endDate" />
            </div>
        </div>

        <!-- Can occur on holidays -->
        <div class="form-check">
            <input asp-for="CanOccurOnHolidays" class="form-check-input" v-model="canOccurOnHolidays" />
            <label asp-for="CanOccurOnHolidays" class="form-check-label">Can occur on holidays</label>
        </div>

        <div class="pt-4">
            <button type="button" class="btn btn-secondary" v-on:click="back">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',

            data: {
                title: '@Model.Title',
                startDate: '@Model.StartDate.ToString("yyyy-MM-ddT08:00:00")',
                endDate: '@Model.EndDate?.ToString("yyyy-MM-ddT08:00:00")',
                durationHours: @Model.DurationHours,
                frequency: @((int)EWSoftware.PDI.RecurFrequency.Weekly),
                frequencies: ['year', 'month', 'week', 'day'],
                interval: @Model.Interval,
                isOnWeekdays: @Json.Serialize(Model.IsOnWeekdays),
                isAllDay: @Json.Serialize(Model.IsAllDay),
                repeatsIndefinitely: @Json.Serialize(Model.RepeatsIndefinitely),
                canOccurOnHolidays: @Json.Serialize(Model.CanOccurOnHolidays)
            },

            methods: {
                back: function () {
                    window.history.back();
                }
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {

            $('form').submit(function () {

                console.log($(this).serialize());
                //return false;
            });

        });
    </script>
}